<!-- <footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-info-brand">&copy;Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer> -->
<style>
    .f-info-socials a {
    text-decoration: none;
    color: #222222;
}
</style>

<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href=https://www.facebook.com/profile.php?id=100057265433358&mibextid=rS40aB7S9Ucbxw6v target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-square-facebook"></i>
            </a>
            <a href="https://www.instagram.com/your-profile" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-square-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/sudhanshu-shekhar2027?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
        <div class="f-info-brand">&copy; Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>
